{
    "LambdaFunction": {
        "TEMP_MAIL_BUCKET": "<BUCKETNAME_WITH_EMAILS>",
        "DESTINATION_BUCKET": "<BUCKETNAME_TO_STORE_INVOICES>",
        "AWS_ACCESS_KEY":"<ACCESS_KEY>",
        "AWS_ACCESS_KEY_ID":"<ACCESS_KEY>",
        "AWS_SECRET_KEY":"<SECRET_KEY>",
        "AWS_SECRET_ACCESS_KEY":"<SECRET_KEY>",
        "AWS_REGION":"<REGION>",
        "AWS_DEFAULT_REGION":"<REGION>",
    }
}